{% extends "layout.html" %}
{% block title %}To-Do App{% endblock %}

{% block content %}
  <div class="jumbotron">
    <h1 class="display-4">To-Do App</h1>
    <p class="lead">Just another to-do app.</p>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h2>Items</h2>
      <ul class="list-group mb-4">
        {% for item in items %}
        <li>ID: {{ item.id }} - {{ item.title }} - {{item.status}}</li>
        {% endfor %}
      </ul>
    </div>
  </div>
  
  <!-- added for add item -->
  <form action="/additem" method="POST" id="form1">
    <input name="title" type="text" placeholder="Enter new Item" required />
    <button type="submit"> Add Item </button>
  </form>

  <!-- Stretch Goals-->

  <!--Add functionality to mark an item as completed-->
  <form action="/complete" method="POST" id="form1">
    <input name="ID" type="text" placeholder="Enter ID to mark as complete" required />
    <button type="submit"> Completed </button>
  </form>


{% endblock %}


